@import 'styles/mixins';

.card-content {
  display: flex;
  flex-direction: column;
  height: 450px;
  position: relative;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .dish__image-img {
      max-width: 100%;
    }
  }

  .label {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #FDFAF0;
    border: 1px solid $base-light;
    padding: 13px;
    display: flex;
    justify-content: space-between;
  }

}
