<ffp-table [tableName]="'EstablishmentsOverview'"
           [displayedColumns]="displayedColumns"
           [selectors]="selectors"
           [actionName]="'EstablishmentLoadAction'"
           [columnTemplateRefs]="{
             createdDate: createdDate,
             lastModifiedDate: lastModifiedDate,
             address: address
           }">
  <ng-template #address let-data="data">
    {{data.street + ' ' + data.houseNumber + ', (' + data.city + ', ' + data.country + ')'}}
  </ng-template>
  <ng-template #createdDate let-data="data">
    {{data.createdDate | formatDate}}
  </ng-template>
  <ng-template #lastModifiedDate let-data="data">
    {{data.lastModifiedDate | formatDate}}
  </ng-template>
</ffp-table>
