<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">FFP</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Admin</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <div class="scroll-wrap scroll-wrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navbarData">
        <a class="sidenav-nav-link"
           (click)="handleClick(data)"
           [routerLink]="data.routeLink"
           *ngIf="data?.subItems?.length > 0"
           [ngClass]="getActiveClass(data)"
        >
          <i [className]="data.icon" class="sidenav-link-icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
          <i *ngIf="data.subItems && collapsed" class="menu-collapse-icon"
             [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
          ></i>
        </a>
        <a class="sidenav-nav-link"
           *ngIf="!data.subItems || data.subItems?.length === 0"
           [routerLink]="data.routeLink"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="shrinkItems(data)"
        >
          <i [className]="data.icon" class="sidenav-link-icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
        </a>
        <div *ngIf="collapsed && data.subItems?.length > 0">
          <app-sub-level-menu [data]="data"
                              [collapsed]="collapsed"
                              [multiple]="multiple"
                              [expanded]="data.expanded">
          </app-sub-level-menu>
        </div>
      </li>
    </ul>
  </div>
</div>
