@import 'styles/mixins';

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .shadow {
    @include shadow;
    padding: 20px;
  }

  .card {
    padding: 20px;
    background: $base-light;
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;

    .card-content {
      width: 100%;
    }

    &:hover {
      @include shadow-hower;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sales-statistic-container {
    background-color: rgba(103, 58, 183, 0.1);
    height: 510px;
    width: 630px;

    .date-picker {
      margin-bottom: 7px;
    }

    .graph {
      width: 600px;
      height: 400px;
      margin-bottom: 5px;

      &.azure {
        background-color: azure;
      }
    }
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
