<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus doloremque odio deleniti debitis, nobis aperiam ipsam nostrum. Minima,
     tempora reprehenderit iure maxime, omnis, non officia numquam neque perspiciatis delectus similique. Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Quod quasi dolorem minima odio expedita dicta, atque nihil earum commodi quos dolor illo repellendus sapiente
     itaque quam odit facere maiores cum!</p>

<h3>Links</h3>

<a class="ffp-a">Link 1</a> <a class="ffp-a">Link 2</a> <a class="ffp-a">Link 3</a>

<h3>Button</h3>

<button class="ffp-button">Button</button>

<h3>Code</h3>

<code> const parameter = 42; </code>

<h3>Input</h3>

<input type="text" class="ffp-input" placeholder="input's placeholder">

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
