@import 'styles/mixins';

.ffp-page {
  max-width: 98vw;
  height: 90vh;
  margin: 12px auto 16px auto;

  background: $base;
  border-radius: 10px;
  @include shadow;
  padding: 32px;

  position: relative;
}
