@import 'styles/colors';

.mat-mdc-table {
  background-color: $base-light;
}

.mat-mdc-paginator {
  background-color: $base-light;
}

.mat-mdc-table {

  .mdc-data-table__row {
    height: 74px;

    .mdc-data-table__cell {
      font-size: 16px;
    }
  }

  .mat-sort-header-content {
    font-size: 16px;
  }
}

.mat-mdc-paginator-container {
  font-size: 16px;
}
