.dish__description-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  max-width: 850px;
}

.dish__image-cell {

  .dish__image-img {
    width: 100px;
  }
}


