<h1 mat-dialog-title>Create new dish</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div class="dialog-content-wrapper">
    <div class="image-uploading-form">
      <app-image-upload
        (imageEmitter)="catchMainImage($event)"
      >
      </app-image-upload>
    </div>
    <div class="form-fields" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>CategoryId</mat-label>
        <input matInput formControlName="categoryId"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ImageUrl</mat-label>
        <input matInput formControlName="imageUrl"/>
      </mat-form-field>

      <mat-chip-listbox [multiple]="true" aria-label="Labels:">
        <mat-chip-option *ngFor="let label of labels">{{label.name}}</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-raised-button color="accent" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="create()">Save</button>
</div>
