$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$base: rgb(156, 174, 114, 0.1);
$base-dark: #040800;
$base-light: #E8DCC6;
$on-base: #000000;

$primary: rgba(21, 41, 0, 0.77);
$primary-dark: #040800;
$primary-light: #E8DCC6;
$on-primary: #BAB6AD;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

$error: #B00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #BAB6AD;
