$base: rgb(156, 174, 114, 0.6);
$base-dark: #040800;
$base-light: #BAB6AD;
$on-base: #000000;

$primary: #152900;
$primary-dark: #040800;
$primary-light: #b9b39d;
$on-primary: #BAB6AD;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

$error: #B00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #BAB6AD;