@import 'reset';

@import 'colors';
@import 'mixins';
@import 'fonts';

@import 'base';
@import 'layout';
@import 'vendor';

@import 'material/material.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
