@import 'colors';

@mixin shadow {
  box-shadow: 10px 5px 27px 0 rgba(90, 101, 63, 0.37);
}

@mixin shadow-hower {
  box-shadow: 10px 5px 27px 0 rgb(232 220 198 / 75%);
}

@mixin gradient-background() {
  background-color: #FDFAF0;
}

