.mat-sidenav-container {
    height: calc(205vh - 115vh);
}

mat-sidenav {
    width: 240px;
}

a {
    font-size: 18px;
    font-weight: 500;

    &.active {
        font-weight: 700;
    }
}

a:hover {
    background-color: rgba(103, 58, 183, 0.1);
}
