<div class="dashboard-container">
    <div class="top-container">
        <div class="totals-row">
            <div class="total-item"></div>
            <div class="total-item"></div>
            <div class="total-item"></div>
            <div class="total-item"></div>
            <div class="total-item"></div>
        </div>
    </div>
    <div class="center-container">
        <div class="overview">
            <app-sales-statistic></app-sales-statistic>
        </div>
    </div>
    <div class="bottom-container">
        <div class="additional-info">
        </div>
    </div>
</div>
