.table__tool-bar {
  display: flex;
  justify-content: space-between;

  .tool-bar__searching {
    width: 400px;
  }
}

.dish__description-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  max-width: 850px;
}

.dish__image-cell {

  .dish__image-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}
