<ffp-table [tableName]="'OrderingOverview'"
           [displayedColumns]="displayedColumns"
           [selectors]="selectors"
           [actionName]="'OrderingLoadAction'"
           [columnTemplateRefs]="{
             createdDate: createdDate,
             lastModifiedDate: lastModifiedDate
           }">
  <ng-template #createdDate let-data="data">
    {{data.createdDate | formatDate}}
  </ng-template>
  <ng-template #lastModifiedDate let-data="data">
    {{data.lastModifiedDate | formatDate}}
  </ng-template>
</ffp-table>
