@import 'styles/colors';

.wrapper {
  display: flex;
  align-items: center;

  :host-context(.form-field_error) {
    input {
      border: 1px solid $error;
    }
  }

  i {
    width: 2px;
    position: relative;
    right: 30px;
    font-size: 20px;
    line-height: 40px;
    z-index: 1;
    color: #152900;
  }
}

