<div class="dashboard-container">
  <div class="top-container"
  >
    <div class="totals-row">
<!--      <ffd-card [width]="'400px'" [height]="'300px'"></ffd-card>-->
<!--      <ffd-card [width]="'400px'" [height]="'300px'"></ffd-card>-->
<!--      <ffd-card [width]="'400px'" [height]="'300px'"></ffd-card>-->
<!--      <ffd-card [width]="'400px'" [height]="'300px'"></ffd-card>-->
<!--      <ffd-card [width]="'400px'" [height]="'300px'"></ffd-card>-->
    </div>
  </div>
  <div class="center-container">
    <div class="overview">
      <app-sales-statistic></app-sales-statistic>
    </div>
  </div>
</div>
