@import 'styles/mixins';

.shadow {
  @include shadow;
  padding: 20px;
}

.card {
  @include card;

  &:hover {
    @include shadow-hower;
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;

  .top-container {
    height: 265px;

    .totals-row {
      padding: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .total-item {
        margin: 15px;
        width: 40%;
        height: 100%;
      }
    }
  }

  .center-container {
    .overview {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 10px 20px;
    }
  }
}
