.dashboard-container {
  display: flex;
  flex-direction: column;

  .top-container {
    height: 265px;

    .totals-row {
      padding: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .total-item {
        margin: 15px;
        width: 40%;
        height: 100%;
        background-color: rgba(103, 58, 183, 0.1);
      }
    }
  }

  .center-container {
    .overview {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 10px 20px;
    }
  }

  .bottom-container {
    height: 180px;
    margin-top: 15px;
    margin-bottom: 20px;

    .additional-info {
      height: 100%;
      margin: 10px 20px;
      background-color: rgba(103, 58, 183, 0.1);
    }
  }
}
