<ffp-page>
  <div class="table__tool-bar">
    <div class="tool-bar__searching">
      <ffp-input (keyup)="onSearchTyping()"
                 [(ngModel)]="searchText"
                 [type]="'search'"
                 placeholder="Search">
      </ffp-input>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort matSortDisableClear="true"
         [matSortActive]="defaultSort.active" [matSortDirection]="defaultSort.direction">

    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>{{column}}</th>
      <td mat-cell class="dc-content" *matCellDef="let data">
        <ng-container *ngTemplateOutlet="
            columnTemplateRefs[column] || defaultColumnRef;
            context: { data: data, column: column }
          ">
        </ng-container>
        <ng-template
          #defaultColumnRef
        >{{data[column]}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noData">
      <td mat-cell class="dc-label no-data-cell" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <ng-container *ngIf="!(error$ | async) && !loading">
          <span class="dc-content">No dishes</span>
        </ng-container>
        <ng-container *ngIf="(error$ | async) && !loading">
          <span class="dc-label">System Failure</span>
          <span class="dc-content">Error</span>
          <span class="retry" (click)="retry()">Retry</span>
        </ng-container>
        <ng-container *ngIf="loading">
          <span class="dc-label">Retrieving data...</span>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container *ngIf="total && !loading">
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </ng-container>
    <ng-container *ngIf="!total || loading">
      <tr mat-row *matRowDef="let row; columns: ['noData'];" class="no-data-row"></tr>
    </ng-container>
  </table>

  <mat-paginator [length]="total" [pageSize]="15"></mat-paginator>
</ffp-page>
