::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $base-light;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
