@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.ffp-page {
  max-width: 98vw;
  height: 92vh;

  background: $base-light;
  border-radius: 10px;
  @include shadow;
  padding: 32px;

  position: relative;
  overflow: auto;
}

.table-container {
  flex: 1; /* Makes the table container take remaining vertical space */
  overflow: auto; /* Enables vertical scrolling if needed */
}
